<div style="text-align:center" class="logo">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img appColor #refImg src="https://pbs.twimg.com/profile_images/536554033083715584/53H11Q-w_400x400.png">
</div>

<div style="text-align:center">
  <button mat-raised-button color="primary" (click)="testViewChild()">Test ViewChild</button>
</div>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
      <mat-option value="option4">Option 4</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<router-outlet></router-outlet>
