<div style="text-align:center" class="logo">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img appColor #refImg src="https://pbs.twimg.com/profile_images/536554033083715584/53H11Q-w_400x400.png">
</div>

<div style="text-align:center">
  <button mat-raised-button color="primary" (click)="testViewChild()">Test ViewChild</button>
</div>

<div style="text-align:center">
  <button mat-raised-button color="secondary" (click)="getANewDog()">Get a new dog ({{ animalsService.numberOfDog}})</button>
</div>

<app-cat [url]="dog">
  Celui là n'est pas un chat
</app-cat>

<ng-template ngFor let-cat [ngForOf]="cats" let-i="index">
  <app-cat [url]="cat.url" (clicked)="imageClicked($event)" [border]="i === 1 ? 'blue' : 'red'">
    {{ cat.name }}
  </app-cat>
</ng-template>
