@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.border-red {
  border: 5px solid #F1415A;
}
.border-blue {
  border: 5px solid #0294c6;
}

.logo img {
  width: 200px;
  height: 200px;
  transition: all 1s ease;
}
.border-effect {
  width: 100px !important;
  height: 100px !important;
  border-width: 55px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  margin-left: 25%;
}
